* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid black 1px;
    padding: 5px 20px;
    z-index: 1000;
    margin: 0 0 20px 0;
    gap: 15px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}

nav .navdiv {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navtitle {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-left: 30px;
    height: auto; 
    z-index: 1001;
}

.navtitle .navlogo img {
    height: 30px;  
    width: 50px;   
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

nav a {
    color: black;
}

nav a:hover {
    color: grey;
}
nav .navdiv a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s;
}

nav .navbutton a {
    font-size: 15px;
}

nav .action_button {
    border: solid black 2px;
    padding: 10px 20px;
    border-radius: 5px;
}
nav .action_button a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.firstsection {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr;
    width: 100%;
}

.firstsection h1 {
    text-align: center;
    padding: 50px;
    font-size: 28px;
}
.firstsection img {
    display: block;
    width: 80%;
    margin: 10px auto; 
}